    <ion-item-sliding #sliding [disabled]="!isLowResolution()">
      <ion-label>{{ grade.name }}</ion-label>
      lll
      {{ grade.name }}
      <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" (click)="onClick1(sliding)">
        <div class="vertical">
          <!-- 1 {{ grade.acronyms}} -->111
        </div>
      </ion-button>
      <ion-button class="item-expanded" *ngIf="!isLowResolution()" slot="end" fill="clear" color="danger" (click)="onClick2(sliding)">
        <div class="vertical">
          <!-- 2 {{ grade.acronyms}} -->222
        </div>
      </ion-button>

      <ion-item-options >
        <ion-item-option (click)="onClick1(sliding)">
          <!-- 1 {{ grade.acronyms}} -->111
        </ion-item-option>
        <ion-item-option (click)="onClick2(sliding)" color="danger">
          <!-- 2 {{ grade.acronyms}} -->222
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
