<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <ion-title>{{ 'home.student' | translate | uppercase }}</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button value="insertStudent" [routerLink]="['/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="10" sizeXl="3" *ngFor="let student of _students">      
        <ion-card>    
          <ion-avatar>
            <img *ngIf="!student.picture" alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="student.picture" alt="Person picture" [src]="student.picture" />
          </ion-avatar>
          <ion-card-title>{{ student.grade }}</ion-card-title>
          <ion-card-subtitle>{{ student.surname }}, {{ student.name }}</ion-card-subtitle>
          <ion-card-subtitle>{{ student.email }}</ion-card-subtitle>
          <ion-card-content>
            <ion-button value="modifyPerson" slot="start" color="none" routerLink='/edit/{{student.id}}'>
              <ion-icon name="pencil-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button value="delete" slot="end" color="none" (click)="delete(student)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
