<ng-container >
  <ion-header>
    <ion-toolbar >
      <ion-title>{{ 'detail.titleS' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item>
      <ion-label>{{ 'detail.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="student.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.surname' | translate }}</ion-label>
      <ion-input [(ngModel)]="student.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.email' | translate }}</ion-label>
      <ion-input [(ngModel)]="student.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.image' | translate }}</ion-label>
      <ion-input [(ngModel)]="student.picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.grade' | translate }}</ion-label>
      <ion-input [(ngModel)]="student.grade"></ion-input>
    </ion-item>
    <ion-button (click)="updateStudent()" color="success" size="small">
      {{ 'button.edit' | translate }}
    </ion-button>
    <ion-button [routerLink]="'/students'" color="danger" size="small">
      {{ 'button.cancel' | translate }}
    </ion-button>
    <ion-input></ion-input>
  </ion-content>
</ng-container>