<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.info' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLowResolution()" class="ion-padding">
  <ion-item class="ion-padding"  lines="none">
    <ion-thumbnail>
    <ion-img src="../../../assets/images/yo.jpg" alt="app logo"></ion-img>
    </ion-thumbnail>
    <ion-label><h1>Natalia Castillo Muñoz</h1></ion-label>
  </ion-item>
  
<ion-list>
  <ion-item-group>
    <ion-item lines="none">
      <h3>ESTUDIOS</h3>
    </ion-item>
  </ion-item-group>

<h5>CFGS Desarrollo de Aplicaciones Multiplataforma</h5>
<h6>(2021-    ) CPIFP Tech Park Málaga</h6>

<h5>CFGM Sistemas Microinformáticos y Redes</h5>
<h6>(2019-2021) FPIES Campanillas (PTA Málaga)</h6>


<h5>E.S.O. (Escuela de Adultos - E.S.A.)</h5>
<h6>(2018-2019) IES Valle del Azahar (Estación de Cártama, Málaga)</h6>

</ion-list>
</ion-content>

<ion-content *ngIf="!isLowResolution()">
  
  <ion-item class="ion-padding" lines="none">
    <ion-thumbnail>
    <ion-img src="../../../assets/images/yo.jpg" alt="app logo" ></ion-img>
    </ion-thumbnail>
    <ion-label><h1>Natalia Castillo Muñoz</h1></ion-label>
  </ion-item>
  
<ion-list>
  <ion-item-group>
    <ion-item lines="none">
      <h3>ESTUDIOS</h3>
    </ion-item>
  </ion-item-group>

<h5>CFGS Desarrollo de Aplicaciones Multiplataforma</h5>
<h6>(2021-    ) CPIFP Tech Park Málaga</h6>

<h5>CFGM Sistemas Microinformáticos y Redes</h5>
<h6>(2019-2021) FPIES Campanillas (PTA Málaga)</h6>


<h5>E.S.O. (Escuela de Adultos - E.S.A.)</h5>
<h6>(2018-2019) IES Valle del Azahar (Estación de Cártama, Málaga)</h6>

</ion-list>
</ion-content>



<!--
<ion-content>
<ion-content class="app ion-padding">
  <h1>Grade Control</h1>
  <h3>{{ 'app.line1' | translate }}</h3>
  <p>{{ 'app.line2' | translate }}</p>
  <p>{{ 'app.line3' | translate }}</p>
  <br><br><br><br><br>
  <h2>{{ 'about.line1' | translate }}</h2>
  <h3>{{ 'about.line2' | translate }}</h3>
  <p>{{ 'about.line3' | translate }}</p>
  <p>{{ 'about.line4' | translate }}</p>
  <p>{{ 'about.line5' | translate }}</p>
</ion-content>
</ion-content> -->
<ion-footer>
  <ion-row>
    <ion-col sizeXl="3" sizeXs="12">
      C.P.I.F.P. - Tech Park Málaga
    </ion-col>
    <ion-col sizeXl="3" sizeXs="12">
      <a href="https://github.com/mnataliacm">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a href="https://www.linkedin.com/in/natalia-castillo-muñoz-87714423">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </ion-col>
    <ion-col sizeXl="6" sizeXs="12">
      <ion-title>{{ 'footer.grade' | translate}}</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col sizeXl="9" sizeXs="12">
      <ion-label>{{ 'footer.author' | translate}}</ion-label>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>