<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'home.info' | translate | uppercase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Grade Control</h1>
  <h2>Aplicación para el control de clases, alumnos y tareas</h2>
  <p>* Introduce los alumnos de la clase</p>
  <p>* Introduce las tareas a realizar</p>
  <p>* Asigna fechas a las tareas y puntua a los alumnos</p>
  <p></p>
</ion-content>
<ion-content class="ion-padding" color="light">
  <h2>2 DAM - Modulos: Acceso a Datos y Hora de Libre Configuración</h2>
  <h3>Proyecto realizado con Ionic y Angular</h3>
  <h5>Implementaciones:</h5>
  <p>- CoreModule</p>
  <p>- Indice</p>
  <p>- Fullcalendar</p>
  <p>- Traduccion español-ingles</p>
  <p>- APIrest json-server</p>
  <p>- </p> 

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      C.P.I.F.P. - Tech Park Málaga
    </ion-col>
    <ion-col>
      <ion-title>Aplicación desarrollada por Natalia Castillo</ion-title>
    </ion-col>
    <ion-col>
      <ion-icon name="logo-github"></ion-icon>   
      <ion-icon name="logo-linkedin"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>