<!-- <ion-card>
          <ion-avatar>
            <img *ngIf="!student.picture" alt="Silhouette of a person's head"
              src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="student.picture" alt="Person picture" [src]="student.picture" />
          </ion-avatar>
          <ion-card-title>{{ student.grade }}</ion-card-title>
          <ion-card-subtitle>{{ student.surname }}, {{ student.name }}</ion-card-subtitle>
          <ion-card-subtitle>{{ student.email }}</ion-card-subtitle>
          <ion-card-content>
            <ion-button value="modifyPerson" slot="start" color="none" routerLink='/edit/{{student.id}}'>
              <ion-icon name="pencil-outline" color="success"></ion-icon>
            </ion-button>
            <ion-button value="delete" slot="end" color="none" (click)="delete(student)">
              <ion-icon name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card> -->

<!-- <ion-card>
  <ion-card-header></ion-card-header>
  <ion-card-content>
    <ion-avatar>
      <img *ngIf="!student.picture" alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <img *ngIf="student.picture" alt="Person picture" [src]="student.picture" />
    </ion-avatar>
    <ion-card-subtitle>{{student.surname}}, {{student.name}}</ion-card-subtitle>
    <ion-card-title>{{ student.email }}</ion-card-title>
    <ion-card-subtitle>{{student.grade}}</ion-card-subtitle>
    <ion-card-subtitle> -->
      <!-- {{student.exam}}
      {{student.classwork}} -->
    <!-- </ion-card-subtitle>
  </ion-card-content>
</ion-card>  -->
