<ng-container >
  <ion-header >
    <ion-toolbar >
      <ion-title>{{ 'detail.titleS' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content class="ion-padding" >
    <ion-item>
      <ion-label>{{ 'detail.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="_students.name" placeholder="Enter Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.surname' | translate }}</ion-label>
      <ion-input [(ngModel)]="_students.surname" placeholder="Enter Surnames"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.email' | translate }}</ion-label>
      <ion-input [(ngModel)]="_students.email" placeholder="Enter Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.image' | translate }}</ion-label>
      <ion-input [(ngModel)]="_students.picture" placeholder="Enter picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.grade' | translate }}</ion-label>
      <ion-input [(ngModel)]="_students.grade" placeholder="Enter Grade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="submitFormStudent()">{{ 'button.new' | translate }}
      </ion-button>
      <ion-button [routerLink]="'/students'" color="danger" size="small">
        {{ 'button.cancel' | translate }}
      </ion-button>
    </ion-item>
    </ion-content>
  </ng-container>
