<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'detail.titleP' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{ 'button.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.name' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'people.name' | translate }}" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.surname' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'people.surname' | translate }}" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.email' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'people.email' | translate }}" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.image' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'people.image' | translate }}" formControlName="picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ 'detail.module' | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'people.grade' | translate }}" formControlName="grade"></ion-input>
    </ion-item>
      <ion-button [disabled]="!form.valid" type="submit">{{(mode=="Edit"?"button.edit":"button.new") | translate}}</ion-button>   
  </form>
</ion-content>

