<!--  *ngIf="insertStudent"         *ngIf="HttpClient.get(header: studentsData)"          -->

<ion-header >
  <ion-toolbar color="tertiary" >
    <ion-title>Create Person</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding">
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="student.name" placeholder="Enter Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Surnames</ion-label>
    <ion-input [(ngModel)]="student.surname" placeholder="Enter Surnames"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="student.email" placeholder="Enter Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Picture</ion-label>
    <ion-input [(ngModel)]="student.picture" placeholder="Enter picture"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Grade</ion-label>
    <ion-input [(ngModel)]="student.grade" placeholder="Enter Grade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="submitFormStudent()">Add
    </ion-button>
    <ion-button [routerLink]="'/students'" color="danger" size="small">
    Cancel
    </ion-button>
  </ion-item>
  </ion-content>