<ng-container  >
  <ion-header >
    <ion-toolbar color="tertiary" >
      <ion-title>{{ 'detail.titleT' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content class="ion-padding" >
    <ion-item>
      <ion-label>{{ 'detail.grade' | translate }}</ion-label>
      <ion-input [(ngModel)]="_tasks.grade" placeholder="Enter grade"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.module' | translate }}</ion-label>
      <ion-input [(ngModel)]="_tasks.module" placeholder="Enter module"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.name' | translate }}</ion-label>
      <ion-input [(ngModel)]="_tasks.name" placeholder="Enter name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.type' | translate }}</ion-label>
      <ion-input [(ngModel)]="_tasks.type" placeholder="Enter type"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'detail.info' | translate }}</ion-label>
      <ion-input [(ngModel)]="_tasks.info" placeholder="Enter information"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="submitFormTask()">{{ 'button.new' | translate }}
      </ion-button>
      <ion-button [routerLink]="'/tasks'" color="danger" size="small">
        {{ 'button.cancel' | translate }}
      </ion-button>
    </ion-item>
    </ion-content>
  </ng-container>
